.product {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 170px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: lightgray;
  height: 100px;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.img_logo {
  object-fit: contain;
  overflow: hidden;
  height: 90%;
  width: 90%;
}

.description {
  font-size: 0.8em;
}

.add-btn {
  width: 100%;
}
